<template>
	<div>
	  <!-- Kode HTML lainnya -->
	  
	  <astro-render src="./components/Card.astro" />
	  
	  <!-- Kode HTML lainnya -->
	</div>
  </template>
  
<main>
  <h1>Welcome to My Astro Tailwind App</h1>
</main>
